{% extends 'base.html' %}
{% block title %}Modifier mon profil{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card shadow-sm border-0 p-4">

      <h4 class="fw-bold mb-4" style="color:#1B263B;">
        <i class="bi bi-pencil-square me-2"></i>Modifier mon profil
      </h4>

      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        {% for field in form %}
        <div class="mb-3">
          <label class="form-label fw-semibold small">{{ field.label }}</label>
          {{ field }}
          {% if field.errors %}
            <div class="text-danger small">{{ field.errors }}</div>
          {% endif %}
        </div>
        {% endfor %}

        {% if request.user.est_client %}
        <div class="mb-3">
          <label class="form-label fw-semibold small">
            Adresse de livraison
          </label>
          <input type="text" name="adresse_livraison"
                 class="form-control"
                 value="{{ request.user.client.adresse_livraison }}"
                 placeholder="Votre adresse de livraison">
        </div>
        {% endif %}

        {% if request.user.est_commercant %}
        <hr class="my-4">
        <h6 class="fw-semibold mb-3" style="color:#1B263B;">
          <i class="bi bi-shop me-1"></i>Ma boutique
        </h6>
        <div class="mb-3">
          <label class="form-label fw-semibold small">Nom de la boutique</label>
          <input type="text" name="nom_boutique"
                 class="form-control"
                 value="{{ request.user.commercant.nom_boutique }}"
                 placeholder="Nom de votre boutique" required>
        </div>
        <div class="mb-3">
          <label class="form-label fw-semibold small">Logo de la boutique</label>
          {% if request.user.commercant.logo %}
            <div class="mb-2">
              <img src="{{ request.user.commercant.logo.url }}" alt="Logo actuel"
                   style="width:56px;height:56px;object-fit:cover;border-radius:8px;border:1px solid #E8E2D8;">
            </div>
          {% endif %}
         
        </div>
        {% endif %}

        <div class="d-flex gap-2 mt-4">
          <button type="submit" class="btn fw-semibold px-4"
                  style="background-color:#1B263B;color:white;">
            <i class="bi bi-check-lg me-1"></i>Enregistrer
          </button>
          <a href="{% url 'users:profil' %}"
             class="btn btn-outline-secondary">
            Annuler
          </a>
        </div>

      </form>
    </div>
  </div>
</div>
{% endblock %}